$font-family-sans:            'Inter', 'system-ui', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-sans-serif:      $font-family-sans;
$font-family-monospace:       'IBM Plex Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans !default;

$variable-prefix:             midas- !default;

// $font-size-root effects the value of `rem`, which is used for as well font sizes, paddings and margins
// $font-size-base effects the font size of the body text
$font-size-base:              .875rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                .75rem !default;
$font-size-md:                1rem !default;
$font-size-lg:                1.125rem !default;
$font-size-xl:                1.25rem !default;

$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;
