.icon {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  fill: currentColor;
  color: $gray-500;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  font-size: 24px;
  line-height: 24px;
  -webkit-appearance: none !important;
}

.card {
  position: relative;
  overflow: hidden;
  border: 0px solid $gray-200 !important;
  box-shadow: var(--midas-shadow-card) !important;
}

// Link helper for applying default 'a' style
.link {
  cursor: pointer;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

// Breadcrumb
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  .path {
    white-space: nowrap;

    &a {
      color: inherit;
    }

    &.current {

    }
  }

  .separator {
    margin: 0 6px;
  }
}

// Wrapper
.wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;
  width: 100%;
  height: 100%;

  .header {
    background: $white;
    box-shadow: $box-shadow;
    position: relative;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    width: 100%;
    height: 64px;
    max-height: 64px;
    min-height: 64px;
    padding: 0 24px;
    z-index: 49;

    .logo {
      display: flex;
      align-items: center;
      margin: 0 48px 0 8px;

      img {
        width: auto;
        max-height: 40px;
      }
    }

    .navigation {
      margin-right: 8px;

      .navigation-wrapper {
        display: flex;
        align-items: center;

        .nav-menu-item {
          text-decoration: none !important;
          color: $gray-900;

          &:hover {
            .nav-item-wrapper {
              background-color: map-get($background, hover);
            }
          }

          .nav-item-wrapper {
            border-radius: 4px;
            overflow: hidden;
            width: 100%;

            .nav-item {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding: 0 16px;
              min-height: 40px;
              width: 100%;
              font-size: 13px;
              font-weight: 500;
              text-decoration: none;
              cursor: pointer;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;

              .nav-item-icon {
                margin-right: 5px;
                color: $gray-500 !important;
              }
            }
          }

          &.active {
            color: $primary !important;

            .nav-item-wrapper {

              .nav-item {

                .nav-item-icon {
                  color: $primary !important;
                  fill: $primary !important;
                }

                .nav-item-title {
                  color: $primary !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .breadcrumb {
      display: flex;
      position: relative;
      flex: 1 1 auto;
      align-items: center;
      padding: 0 24px;
      height: 48px;
      min-height: 48px;
      max-height: 48px;
      margin: 0 !important;

      a {
        text-decoration: none;
      }

      .breadcrumb-icon {
        font-size: 20px;
        line-height: 20px;
        width: 20px;
        height: 20px;
      }
    }
  }

  .footer {
    color: $gray-500;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: start;
    -webkit-justify-content: flex-start;
    width: 100%;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
    padding: 0 24px;
    z-index: 49;
    background: white;
    box-shadow: 0 -1px 0 0 $gray-200;
  }
}

// Date range picker
.daterangepicker {
  .ranges {
    li {
      &.active {
        background-color: $primary !important;
      }
    }
  }
}

.daterangepicker {
  td {
    &.in-range {
      background-color: rgba($primary, 0.1) !important;
    }

    &.active, &:hover {
      color: #ffffff !important;
      background-color: $primary !important;
    }
  }
}
